## ПОВТОРЕНИЕ

1) Напишите программу для перевода оценки из 10-балльной шкалы в пятибальную

2) У вас есть список с баллами за все достижения студентов в их портфолио. Балл за портфолио = сумма баллов за все достижения в портфолио. Балл за портфолио не может быть выше 100. Т.е. если сумма баллов выше 100, балл за портфолио 100. Напишите программу, которая считает балл за портфолио

3) У вас есть список с оценками студентов по 10-балльной шкале. Напишите программу, которая печатает только отличные оценки из этого списка

### Задача 1

In [ ]:
a = int(input())
if a == 1:
    print(2)
if a == 2:
    print(2)
if a == 3: 
    print(2)
if a == 4: 
    print(3)
if a == 5: 
    print(3)
if a == 6: 
    print(4)
if a == 7: 
    print(4)
if a == 8: 
    print(4)
if a == 9: 
    print(5)
if a == 10: 
    print(5)

In [33]:
a = int(input('Введите число от 0 до 10'))

if (a < 0) | (a > 10):
    print('Некорректное число')
else:
    if 4 > a:
        print(2)
    elif 4 <= a <= 5:
        print(3)
    elif 6 <= a <= 7:
        print(4)
    elif 8 <= a <= 10:
        print(5)

5

In [ ]:
a = [5,7,8,10]

## СПИСКИ

Список (list) — это упорядоченный набор элементов, каждый из которых имеет свой номер, или индекс, позволяющий быстро получить к нему доступ. Нумерация элементов в списке начинается с 0.

In [34]:
list1 = [] #пустой список
list2 = [15, 16, 12, 45]
list3 = ['John', 'Mike', 'Lila', 'Peter']

list4 = [5,6,7,'Min']

In [35]:
list4

[5, 6, 7, 'Min']

In [39]:
list2[2]

list2[-1]

45

In [48]:
list2[::2]

[15, 12]

### ЧТО МОЖНО ДЕЛАТЬ СО СПИСКАМИ

Методы

- .append()	метод для добавления элементов в список
- .insert()	для добавления элементов в конкретное место в списке
- .index()	для получения индекса элемента
- .clear()	для очистки списка
- .remove()	для удаления элемента списка
- .pop() позволяет получить элемент по индексу удаляя его из последовательности
- .reverse()	чтобы развернуть список в обратном порядке
- .count()	для подсчета числа вхождений элемента в список
- sum()	для сложения элементов списка
- min()	показывает элемент с самым низким значением в списке
- max()	элемент с самым высоким значением в списке

In [ ]:
list2.append(5)

In [51]:
list2.insert(2, 5)

In [ ]:
max(list2)

45

In [ ]:
list2.index(16)

1

Списки можно суммировать

In [57]:
list2 + list3

[15, 16, 5, 12, 45, 5, 'John', 'Mike', 'Lila', 'Peter']

Списки можно изменять

In [58]:
L = [2, 1, 3]
L[1] = 5
L

[2, 5, 3]

### ЗАДАНИЕ 1

У нас есть список фамилий школьников, родители которых дали согласие на участие в нашем исследовании.

- а) В последний момент школьница с фамилией Шестакова принесла согласие. Добавьте ее в список
- б) Сергей Тарасов заболел и отсутствует в школе в день проведения иссдедования. Удалите его из списка
- в) Вы тестируете школьников в той очередности, в которой они представлены в списке. Коллега сказал, что 3 первых школьника уже прошли исследование. Выведете фамилии этих школьников
- г) К вам подошел Вася и сказал, что в его фамилии ошибка. Он Ключарёв, а не Ключерев. Исправьте, пожалуйста

In [64]:
Surnames = ['Карданова', 'Тарасов', 'Угланова', 'Тюменева', 'Ключерев']

In [65]:
Surnames.append('Шестакова')

In [62]:
Surnames.remove('Тарасов')

In [66]:
Surnames.pop(1)

'Тарасов'

In [70]:
Surnames[0:3]

['Карданова', 'Угланова', 'Тюменева']

In [73]:
Surnames[3] = 'Ключерёв'

Surnames

['Карданова', 'Угланова', 'Тюменева', 'Ключерёв', 'Шестакова']

У нас также есть список с баллами этих школьников по ЕГЭ по русскому языку

- д) Узнайте, как много стобалльников в списке
- е) Узнайте минимальный балл в списке
- ж) Узнайте средний балл по списку

In [74]:
Exam = [100, 98, 90, 100, 95]

In [76]:
Exam.count(100)

2

In [77]:
min(Exam)

90

In [79]:
sum(Exam)/len(Exam)

96.6

## КОРТЕЖИ

Элементы, хранящиеся в кортеже, могут быть любого типа. Они упорядочены и неизменяемы после создания.
Про сходство и разницу между кортежами и списками можно почитать здесь: https://pythonist.ru/chem-otlichaetsya-kortezh-ot-spiska-v-python/

In [80]:
#пустой кортеж
empty_tuple = ()
#кортеж с элементами: способ 1
tuple_1 = (1, 2)
#кортеж с элеметами: способ 2
tuple_2 = tuple([1, 2])
#кортеж с элеметами: способ 3
tuple_3 = 1, 2

In [83]:
tuple_3

(1, 2)

In [86]:
#кортежи удобно использовать, чтобы менять переменные местами
(x, y) = (2, 5)
(x, y) = (y, x)
print(x, y)

5 2

In [84]:
(x, y) = (2, 5)

In [85]:
(x, y)

(2, 5)

### ЧТО МОЖНО ДЕЛАТЬ С КОРТЕЖАМИ

Методы

- .index() — используется для вывода индекса элемента.
- .count() — используется для подсчета количества элементов в кортеже.
- sum() — складывает все элементы кортежа.
- min() — показывает элемент кортежа с наименьшим значением.
- max() — показывает элемент кортежа с максимальным значением.
- len() — показывает количество элементов кортежа.

In [87]:
#превратим список с фамилиями в кортеж
Tuple_surnames = tuple(Surnames)
Tuple_surnames

('Карданова', 'Угланова', 'Тюменева', 'Ключерёв', 'Шестакова')

In [90]:
Tuple_surnames.count('Угланова')

1

In [91]:
Tuple_surnames[0] = 1

TypeError: 'tuple' object does not support item assignment

## СЛОВАРИ

Словарь — неупорядоченная структура данных, которая позволяет хранить пары «ключ — значение»

In [ ]:
# как создать словарь с нуля
dictionary = {
  'Карданова' : 100,
  'Угланова' : 98
}
dictionary

{'Карданова': 100, 'Угланова': 98}

In [ ]:
dictionary = {
  'Карданова' : 100,
  'Угланова' : 98,
  True : 100,
  True : 50
}

In [98]:
dictionary

{'Карданова': 100, 'Угланова': 98, True: 50}

In [ ]:
dict

In [102]:
# как создать словарь из двух списков
score_dictionary = dict(zip(Surnames, Exam))
score_dictionary

{'Карданова': 100,
 'Угланова': 98,
 'Тюменева': 90,
 'Ключерёв': 100,
 'Шестакова': 95}

In [114]:
D = {
    (5,6): (1,2)
}

In [117]:
D[(5,6)][0]

1

### ЗАДАНИЕ 2.

Это задание для самостоятельной работы. Прочитайте о словарях вот здесь: https://skillbox.ru/media/code/slovari-v-python-chto-nuzhno-znat-i-kak-polzovatsya/?ysclid=lox4wv7o23768913401

И выполните задания со словарем score_dictionary:

- а) Вывести балл ЕГЭ для Тюменевой
- б) Добавить в словарь школьницу с фамилией Куликова, у которой 91 балл за ЕГЭ
- в) Удалить из словаря Шестакову и её балл

In [ ]:
score_dictionary.

dict_items([('Карданова', 100), ('Угланова', 98), ('Тюменева', 90), ('Ключерёв', 100), ('Шестакова', 95)])

## ФУНКЦИИ

Функция — это фрагмент программного кода, который решает какую-либо задачу. Его можно вызывать в любом месте основной программы. Функции помогают избегать дублирования кода при многократном его использовании

In [ ]:
def summa (x, y):
    return (x + y)
summa (3, 4)

7

In [111]:
def Myfunc(a, b):
    return a * b

In [112]:
Myfunc(5, 10)

50

In [113]:
def score (surname):
    return score_dictionary[surname]
score('Карданова')

100

### ЗАДАНИЕ 3.

Директор школы разрешил выгрузить списки школьников и их баллы для вашего исследования. Они выгрузились в неудобном формате: "Фамилия Имя Балл".

Напишите функцию, которая принимает на вход строку "Фамилия Имя Балл" (например, 'Маракшина Юлия 90') и возвращает словарь вида:

- Фамилия: Маракшина
- Имя: Юлия
- Балл: 90

Балл должен быть в числовом формате!

Чтобы разделить строку, используйте функцию split

In [ ]:
s = 'Маракшина Юлия 90'
s.split()

['Маракшина', 'Юлия', '90']

In [ ]:
def data_transform(string):

In [ ]:
!pi